<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>店铺之家</title>
<base href="__ROOT__/index/web/">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_410780_erij4stft95p14i.css">
<link rel="stylesheet" type="text/css" href="css/swiper-3.4.2.min.css">
<script src="js/jquery-1.12.1.min.js"></script>
<script src="js/swiper-3.4.2.jquery.min.js"></script>
</head>

<body>
<!--top-->
<div class="width100 bj_red fixed" style="height:45px;top:0;left:0;">
	<div class="width96 center relative" style="height:45px;">
    	<a href="javascript:history.go(-1)" class="absolute" style="width:16px;height:27px;top:9px;left:0;"><img src="images/return.png" width="16" height="27"></a>
        <h3 class="tcenter fff font20 font100" style="line-height:45px;">店铺之家</h3>
    </div>
</div>
<div class="width100 hidden" style="margin-top:45px;">
{if condition="empty($data) eq true"} 
 <div class="width100 hidden font14 c_66" style="border-top:1px solid #ddd;padding-top:12px;margin-top:12px;line-height:20px;">
            你还没有店铺,请先入驻店铺！！！
</div>
{else /}

 {foreach name='data' item="v"}
  <a href="{:url('index/state')}?id={$v.s_id}" class="width96 hidden borderb block center c_33" style="padding-top:14px;padding-bottom:14px;">
        <div class="left hidden width25">
            <img src="__ROOT__/{$v.s_photo}" style="width:100%;">
        </div>
        <div class="right hidden width72">
            <h3 class="yihang font100 font16" style="margin-top:6px;">{$v.s_shop}</h3>
            <p class="yihang font14 c_99" style="margin-top:8px;">联系电话:{$v.s_tel}</p>
            <p class="yihang font14 c_99" style="margin-top:8px;">地址:{$v.s_position}</p>
        </div>
    </a>
    {/foreach}

{/if}


 <a href="javascript:void(0)" class="width96 bj_red fff tcenter block center" style="height:36px;line-height:36px;border-radius:18px;margin-top:64px;" id="j" uid = "{$uid}">添加商铺</a>
   
             
</div>
</body>
</html>
<script>
      $(document).on("click","#j",function(){
          var uid = {$Request.cookie.u_id};
          $.ajax({
              url:"{:url('index/indexDo')}",
              data:{id:uid},
              type:"get",
              dataType:"json",
              success:function(event){
                 console.log(event);
                  if(event.s == 0){
                    alert(event.message);
                     
                  }else{
                      location.href="{:url('join/open')}";
                  }
              },
            
          })
      })
</script>
