<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>审核状态</title>
<base href="__ROOT__/index/web/">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_410780_vmhsz3ig7mwbfbt9.css">
<link rel="stylesheet" type="text/css" href="css/swiper-3.4.2.min.css">
<script src="js/jquery-1.12.1.min.js"></script>
<script src="js/swiper-3.4.2.jquery.min.js"></script>
</head>

<body>
<!--top-->
<div class="width100 bj_red fixed" style="height:45px;top:0;left:0;">
	<div class="width96 center relative" style="height:45px;">
    	<a href="javascript:history.go(-1)" class="absolute" style="width:16px;height:27px;top:9px;left:0;"><img src="images/return.png" width="16" height="27"></a>
        <h3 class="tcenter fff font20 font100" style="line-height:45px;">审核状态</h3>
    </div>
</div>
<div class="width100 hidden" style="margin-top:45px;">
<img src="images/tsno.jpg" class="center" style="margin-top:120px;">
<p class="tcenter" style="margin-top:20px;">您的资料正在审核中...</p>

</div>
</body>
</html>
