<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>店铺中心</title>
<base href="__ROOT__/index/web/">
<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

<div id="_centent">
<header style="background: red">
    <div class="rt-bk">
        <a href="javascript:history.go(-1)" class="absolute" style="width:16px;height:27px;top:0;left:0;"><img src="__ROOT__/index/web/images/return.png" width="16" height="27"></a>

    </div>
    <div class="top-name tcenter fff font20 font100" style="line-height:45px;"><p>店铺中心</p></div>
</header>

<!-- <div id="_centent">
<div class="width100 bj_red fixed" style="height:45px;top:0;left:0;">
    <div class="width96 center relative" style="height:45px;">
        <a href="javascript:history.go(-1)" class="absolute" style="width:16px;height:27px;top:9px;left:0;"><img src="__ROOT__/index/web/images/return.png" width="16" height="27"></a>
        <h3 class="tcenter fff font20 font100" >店铺详情</h3>
    </div>
</div> -->
<div class="head">
    <div class="head-img">
        <img src="__ROOT__/{$data.s_photo}" style="border-radius:50px">
    </div>
    <div class="head-dsb">
        <p class="dsb-name">{$data.s_shop}</p>
        <p class="dsb-id">店铺号  {$data.s_rand}</p>
    </div>
</div>
<div style="font-size:5px;margin-top:10px;height:26px;background: red">
    <div style="float: left;width: 30px;padding-left: 2px;"><img src="__ROOT__/index/web/img/tongzhi.png"></div>
    <div style="float: right;width: 415px;">{foreach name="rest" item="v"}
    <marquee behavior="" direction="" style="float:none;font-size: 20px;color:white">{$v.affiche}</marquee>
    {/foreach}</div>
    
    
</div>
<div class="nav">
    <ul>
        <li>
            <i class="idt"></i>
            <p>账单</p>
        </li>
        <li class="pt-line">
            <i class="rcm"></i>
            <p>今日</p>
        </li>
        <li>
            <i class="rcm"></i>
            <p>本月</p>
        </li>
    </ul>
</div>

<section class="mt-1"> 
    <div class="ps-lt">
        <a href="{:url('shop/infor')}?id={$data.s_id}">
        <div class="lt-dsb">
            <p>修改信息</p>
            <i class="arr-right"></i>
        </div>
        </a>
        <a href="{:url('login/forget')}?id={$data.s_id}">
            <div class="lt-dsb cl-bb">
            <p>修改密码</p>
            <i class="arr-right"></i>
        </div></a>

    </div>
</section>

<section class="mt-2"> 
    <div class="ps-lt">
        <div class="lt-dsb cl-bb">
            <p>声音推送通知</p>
            <i class="check-on"></i>
        </div>
    </div>
</section>

<section class="mt-3"> 
    <div class="ps-lt">
        <div class="lt-dsb">
            <p>优惠设置</p>
            <i class="arr-right"></i>
        </div>
    </div>  
    <div class="ps-lt">
        <a href="{:url('pays/pay')}">
        <div class="lt-dsb">
            <p>收款二维码</p>
            <i class="arr-right"></i>
        </div>
         </a>
    </div> 
    <div class="ps-lt">
        <div class="lt-dsb">
            <p>收益分析</p>
            <i class="arr-right"></i>
        </div>
    </div> 
  
    <div class="ps-lt">
        <a href="{:url('shop/shopper')}?sid={$data.s_id}">
        <div class="lt-dsb">
            <p>店员管理</p>
            <i class="arr-right"></i>
        </div></a>
    </div>
</section>

<div class="jg"></div>
</div>

<script>
    (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
        };

      if (!doc.addEventListener) return;
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    $('.check-on').click(function(){
        $(this).toggleClass('check-off');
        })
</script>
</body>
</html>
