<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>店员管理</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/index/web/css/style.css">
<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_410780_vmhsz3ig7mwbfbt9.css">
<link rel="stylesheet" type="text/css" href="__ROOT__/index/web/css/swiper-3.4.2.min.css">
<script type="text/javascript" src="__ROOT__/index/first/js/jquery-1.7.1.min.js"></script>
</head>

<body>
<!--top-->
<div class="width100 bj_red fixed" style="height:45px;top:0;left:0;">
	<div class="width96 center relative" style="height:45px;">
    	<a href="javascript:history.go(-1)" class="absolute" style="width:16px;height:27px;top:9px;left:0;"><img src="__ROOT__/index/web/images/return.png" width="16" height="27"></a>
        <h3 class="tcenter fff font20 font100" style="line-height:45px;">店员管理</h3>
    </div>
</div>
<form action="{:url('shop/shopper')}" method="post">
    <input type="hidden" name="sid" value="{$sid}">
<div class="width100 hidden" style="margin-top:45px;margin-bottom:57px;">
		<div class="width100 font13" style="background:#f4f4f4;height:36px;line-height:36px;text-indent:2%;">大堂经理</div>
        <div class="width96 hidden center">
            <div class="width100 center hidden borderb" style="margin-top:23px;padding-bottom:10px;">
                    <span class="font14">负责人</span>
                    <input type="text" name="clerk" style="outline:none;border:0;text-indent:18px;" placeholder="请输入真实姓名" value="{$clerk.c_name}">
            </div>
            <div class="width100 center hidden borderb" style="margin-top:23px;padding-bottom:10px;">
                    <span class="font14">手机号</span>
                    <input type="text" name="c_tel" style="outline:none;border:0;text-indent:18px;" placeholder="请输入手机号" value="{$clerk.c_tel}">
            </div>
    	</div>
        <div></br></div>
<div class="width100 font13" style="background:#f4f4f4;height:36px;line-height:36px;text-indent:2%;">普通店员</div>
        <div class="width96 hidden center">
            <div id="Upload">
                {if condition="empty($data)"}
                    <div class="width100 center hidden borderb relative" style="margin-top:23px;padding-bottom:10px;" id="images_Upload">
                        <span class="Upload_img" class="font14 left"><span>店员姓名</span>
                        <input name="c_name[]" type="text"  style="outline:none;border:0;text-indent:18px;" placeholder="请输入真实姓名"/></span><a href="javascript:void(0)" style="float: right;color: red" id="add_Upload">✚</a>
                {else /}
                    {foreach name='data' item="v" key="k"}
                        <div class="width100 center hidden borderb relative" style="margin-top:23px;padding-bottom:10px;" id="images_Upload">
                        <span class="Upload_img" class="font14 left"><span>店员姓名</span>
                        <input name="c_name[]" type="text"  style="outline:none;border:0;text-indent:18px;" placeholder="请输入真实姓名" value="{$v.c_name}"/></span>
                        {if condition="$k eq 0"}
                        <a href="javascript:void(0)" style="float: right;color: red" id="add_Upload">✚</a>
                        {else /}
                        <a href='javascript:void(0)' style='float: right;color: red' class='delete_Upload'>✖</a>
                        {/if}
                        </div>
                    {/foreach}
                {/if}
                
             </div>
        </div>
    <input type="submit" class="width96 bj_red fff tcenter block center" style="height:36px;line-height:36px;border-radius:18px;margin-top:64px;" value="提交资料">
</div>、
</form>
</body>
</html>
<script type="text/javascript">
    $("#add_Upload").on('click',function(){ 
        var cid =$('.images_Upload').each(function(i){ $(this).attr('id',"Uimages_Upload_"+i)});
        addSpot(this, cid);
    });
    function addSpot(obj,sid) {
        $("#Upload").append("<div class='width100 center hidden borderb relative' style='margin-top:23px;padding-bottom:10px;' id='"+sid+">"+"<span class='Upload_img' class='font14 left'>"+"<span>店员姓名</span>"+"<input name='c_name[]'' type='text'  style='outline:none;border:0;text-indent:18px;'' placeholder='请输入真实姓名'/></span>"+"<a href='javascript:void(0)' style='float: right;color: red' class='delete_Upload'>✖</a>"+"</div>")  
        
        .find(".delete_Upload").click(function(){
            $(this).parent().remove();
            $('#add_Upload').show();
        });
    }
    $(".delete_Upload").on('click',function(){ 
        $(this).parent().remove();
        $('#add_Upload').show();
    });
</script>