<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico">
         <base href="__ROOT__/index/jump/">
		<link href="bootstrap/css/bootstrap.css" rel="stylesheet"> 
		<link href="css/style.css" rel="stylesheet"> 
		</head>

	<body class="no-trans">
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>
		<!-- banner start --> 
		<div id="banner" class="banner">
			<!-- <div class="banner-image"></div> -->
			<div class="banner-caption">
			<div class="container"> 
					<div class="row">					 
						<div class="caption-data" style="margin-top: 0px; opacity: 1;" data-animation-effect="fadeIn">
								<h1>你还没有店铺</h1>
								
								<div class="padding-top60 contact-form">
									<button class="btn cta-button"><a href="{:url('join/open')}">申请入驻</a></button>
								</div>
							</div>
					 </div> 
				</div>
			</div>
		</div>
		<!-- banner end -->
	</body>
</html>
