<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">

        <title>信息照片上传</title>
        <base href="__ROOT__/index/open/">
        
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/home.css">
		
    </head>
    <body>
    <form  name="form1" action="{:url('join/Auditing')}" method="post" onsubmit="return go()"  enctype="multipart/form-data">
        <section class="aui-content">
            <div style="height:20px;"></div>
            <div class="aui-content-up">
                <form action="" name="form1" method="post">
                    <div class="aui-content-up-form">
                        <h2>开户资质</h2>
                    </div>
                    
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            店铺名称 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input type="text" class="aui-form-control-two" name="s_shop"  required id="1" placeholder="请输入店铺名称">
                            <span class="tips" id="divname"></span>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            店铺类型 <em>*</em>
                        </label>

                        <div class="aui-form-input">
                            <select name="t_id" id="">
                                <option value="">--请选择--</option>
                                <?php foreach ($data as $k => $v) { ?>
                                    <option value="<?php echo $v['t_id'] ?>"><?php echo $v['type'] ?></option>
                              <?php } ?>   
                            </select>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            店铺位置 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input type="text" class="aui-form-control-two" name="s_position"  required id="1" placeholder="请输入店铺位置">
                            <span class="tips" id="divname"></span>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            店铺图片 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <div class="aui-content-img-box aui-content-full">
                                <div class="aui-photo aui-up-img clear">
                                    <section class="aui-file-up fl">
                                       
                                        <input type="file" name="s_photo">
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            营业执照 <em>*</em>
                            <span>小于5M</span>
                        </label>
                        <div class="aui-form-input">
                            <div class="aui-content-img-box aui-content-full">
                                <div class="aui-photo aui-up-img clear">
                                    <section class="aui-file-up fl">
                                       
                                       <input type="file" name="s_licence">
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            申请人 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input type="text" class="aui-form-control-two" name="s_name"  required id="1" placeholder="请输入身份证名字">
                            <span class="tips" id="divname"></span>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            申请人身份证 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input type="text" class="aui-form-control-two" name="s_number"  required id="1" placeholder="请输入身份证名字">
                            <span class="tips" id="divname">长度16/18个字符</span>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            身份证照片 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <div class="aui-content-img-box aui-content-full">
                                <div class="aui-photo aui-up-img clear">
                                    <section class="aui-file-up fl">
                                     <input type="file" name="s_number_photo">
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aui-form-group clear">
                        <label class="aui-label-control">
                            手机号码 <em>*</em>
                        </label>
                        <div class="aui-form-input">
                            <input type="text" class="aui-form-control-two" name="s_tel" id="2" placeholder="请输入11位的手机号码" required/>
                            <span class="tips" id="phone">必须是11位的数字</span>
                        </div>
                    </div>
                    
                   <input type="hidden" name="u_id" value="<?php echo $u_id ?>" />
                    <div class="aui-form-group-text">
                        <h3>需要以下材料</h3>
                        <p>营业执照或组织机构代码等生产方《化妆品生产许可证》代生产合同或经销证明国产非特殊用途化妆品食药监查询截图进口化妆品，需提供国务院食药监行政部门备案登记即《进口（非）特殊用途化妆品备案凭证》</p>
                    </div>
                </form>
            </div>
            <div class="aui-btn-default">
                <button class="aui-btn aui-btn-account" onclick=" return check(this.form)">保存并提交审核</button>
            </div>
             </section>
       </form>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/up.js"></script>
        <script type="text/javascript">
          	falg = 1
			function check(form){
			var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
			 var myreg=/^[1][3,4,5,7,8][0-9]{9}$/; 
			if(form.s_shop.value.length > 10){
			alert("店铺名称不能超过十个字符呦！!");
    		form.s_shop.focus();
    		return falg = false;
		   } else if(form.s_photo.value==''){
				alert("请上传店铺图片!");
    			form.s_photo.focus();
    			return falg = false;
		   } else if(form.s_licence.value==''){
				alert("请上传营业执照!");
    			form.s_licence.focus();
    			return falg = false;
		   } else if(form.s_number_photo.value==''){
				alert("请上传身份证!");
    			form.s_number_photo.focus();
    			return falg = false;
		   } else if(form.t_id.value==''){
		   		alert("请选择店铺类型!");
    			form.t_id.focus();
    			return falg = false;
		   } else if(reg.test(form.s_number.value) === false){
		   		alert("请输入真实有效身份证!");
		   		form.s_number.focus();
    			return falg = false;
		   } else if(myreg.test(form.s_tel.value) === false){
		   		alert("请输入真实有效手机号!");
		   		form.s_tel.focus();
    			return falg = false;
		   } else {
		   		return falg = true;
		   }
			
		}
            
            function go(){
            return falg;
        }
       
        </script>
    </body>
</html>
