<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>选择支付方式</title>

<link rel="stylesheet" type="text/css" href="__ROOT__/index/web/css/style.css">
<link rel="stylesheet" type="text/css" href="">
<link rel="stylesheet" type="text/css" href="__ROOT__/index/web/css/swiper-3.4.2.min.css">
<script src="__ROOT__/index/web/js/jquery-1.12.1.min.js"></script>
<script src="__ROOT__/index/web/js/swiper-3.4.2.jquery.min.js"></script>
</head>

<body>
<!--top-->
<div class="width100 bj_red fixed" style="height:45px;top:0;left:0;">
	<div class="width96 center relative" style="height:45px;">
    	<a href="javascript:history.go(-1)" class="absolute" style="width:16px;height:27px;top:9px;left:0;"><img src="__ROOT__/index/web/images/return.png" width="16" height="27"></a>
        <h3 class="tcenter fff font20 font100" style="line-height:45px;">选择支付方式</h3>
    </div>
</div>
<div class="width100 hidden" style="margin-top:45px;">
	<div class="width96 center">
    	<a href="{:url('pays/alipay')}" class="width100 hidden borderb c_33 font14 block" style="height:32px;line-height:32px;padding-top:16px;padding-bottom:16px;">
        	<img src="__ROOT__/index/web/images/zfb2.png" width="32" height="32" class="left" style="margin-right:17px;"><font class="left">支付宝支付</font>
            <img src="__ROOT__/index/web/images/sm_qianjin.png" class="right" width="12" height="20" style="margin-top:6px;">
        </a>
        <a href="{:url('pays/weipay')}" class="width100 hidden borderb c_33 font14 block" style="height:32px;line-height:32px;padding-top:16px;padding-bottom:16px;">
        	<img src="__ROOT__/index/web/images/wxzf2.png" width="32" height="32" class="left" style="margin-right:17px;"><font class="left">微信支付</font>
            <img src="__ROOT__/index/web/images/sm_qianjin.png" class="right" width="12" height="20" style="margin-top:6px;">
        </a>
    </div>
</div>
</body>
</html>
